@model WebShop.Models.Product

@{
    Layout = "_AdminLayout";
}

<div class="content-page">
    <div class="content">
        <div style="margin-left:50px;" class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div>
                        <h4 class="header-title mb-3">Edit Product</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <form asp-action="EditProduct" enctype="multipart/form-data" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label">Name</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label">Description</label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Price" class="control-label">Price</label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Rating" class="control-label">Rating</label>
                            <input asp-for="Rating" class="form-control" />
                            <span asp-validation-for="Rating" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ImageUpload" class="control-label">Change Image</label>
                            <input asp-for="ImageUpload" class="form-control" />
                            <span asp-validation-for="ImageUpload" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BrandId" class="control-label">Brand</label>
                            <select asp-for="BrandId" class="form-control" asp-items="ViewBag.Brands">
                                <option>--Choose a brand</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="CategoryId" class="control-label">Category</label>
                            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories">
                                <option>--Choose a category</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save Changes" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<div>
    <a asp-action="GetAllProducts">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
